AttributeError: 'NoneType' object has no attribute 'empty'

In [88]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import re

In [89]:
da = pd.read_csv(r'../data/survey.csv')
da.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [90]:
def clean_text(text):
    if isinstance(text, str):
        text = text.lower()
        text = re.sub(r'[^a-zA-Z0-9]', '', text)
    return text

In [91]:
da = da.fillna("Unknown", inplace=True)

In [92]:
selected_features = ['family_history', 'work_interfere', 'mental_vs_physical', 'coworkers', 'leave', 'benefits', 'treatment']
da[selected_features]

TypeError: 'NoneType' object is not subscriptable

In [93]:
da.columns = da.columns.str.strip().str.lower()  # Remove spaces & lowercase
selected_features = ['family_history', 'work_interfere', 'mental_vs_physical', 'coworkers', 'leave', 'benefits', 'treatment']
da = da[[col for col in selected_features if col in da.columns]]  # Select only existing columns

AttributeError: 'NoneType' object has no attribute 'columns'

In [ ]:
if da.empty:
    print("The DataFrame is empty!")

AttributeError: 'NoneType' object has no attribute 'empty'